
::-webkit-scrollbar { /* 1 - скроллбар */
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb { /* 5 - ползунок */
  border-radius: 2px;
  background-color: #0d6efd;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 450px) {
  * {
    font-size: 1.8vw !important;
  }
}

@media (max-width: 1024px) {
  * {
    font-size: 1.875vw;
  }
}

@media screen and (min-width: 1440px) {
  *{
    font-size: 14.4px;
  }
}
